@import 'general';

body {
  overflow: hidden;
}

#game_wrapper { /* stylelint-disable-line */
  background-color: #333;
}

.form_wrapper {
  width: 80rem;
  height: 40rem;
  background-image: url('../assets/images/game_over.png');
  background-size: cover;

  & input {
    width: 40rem;
    height: 5rem;
    margin: 14rem 20rem 0;
    padding: .7rem 0 0;
    font-size: 2rem;
    font-family: BigJohn, sans-serif;
    text-align: center;
    outline: none;
    border: none;
  }

  & input:focus {
    box-shadow: .2rem .2rem 1.5rem rgba(0, 0, 0, .5);
  }

  & input[type='submit'] {
    appearance: none;
    margin: 1rem 20rem 0;
    border: none;
    background-image: url('../assets/images/button_sprite.png');
    background-size: 100% auto;
    height: 5rem;
    color: white;

    &:hover {
      background-position: 0 5rem;
    }
  }
}
