@import 'reset';

body {
  margin: 0;
  background-image: url('../assets/images/sky.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: auto 100vh;
  font-family: DINRegular, sans-serif;
}

.hidden {
  display: none;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
