@import 'general';

.stats_wrapper {
  width: 100rem;
  margin: 0 auto;
}

h2 {
  font-size: 4rem;
  font-family: BigJohn;
  margin: 6rem 0 2rem;
}

.svg {
  box-sizing: content-box;
  border: 20px solid white;
  border-left-width: 30px;
  border-right-width: 30px;
  margin: 0 0 5rem;
  background-color: white;
}

.controlls {
  margin: 2rem 0 3rem;
  background-color: white;
  padding: 2rem;
}

.filter {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.column_left {
  flex: 1;
  position: relative;
  margin: 0 4rem 0 0;
  border-right: .05rem solid black;
}

.column_right {
  flex: 4;
}

.filter_icon {
  width: 10rem;
  height: 1.5rem;
}

.row {
  margin: .4rem 0;
  display: flex;
  flex-direction: row;

  & span {
    display: block;
    width: 10rem;
    height: 2.2rem;
    line-height: 2.4rem;
    padding: 0 0 0 1rem;
    background-color: #b8b8b8;
    font-size: 1.2rem;
  }
}

input[type='date'] {
  height: 2.2rem;
  padding: 0 0 0 1rem;
  border: .1rem solid #b8b8b8;
  margin: 0 2rem 0 0;
}

input[type='submit'] {
  border: 0;
  background-color: #a4f2ec;
  padding: .7rem 2rem;
  font-size: 1.4rem;
}
