@import 'reset';

body {
  margin: 0;
  background-color: #222;
  overflow: hidden;
  background-image: url('../assets/sky.png');
  background-repeat: repeat-x;
  background-size: auto 100vh;
}

#game_wrapper { /* stylelint-disable-line */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
}
