@import 'reset';

body {
  margin: 0;
  background-color: #222;
  background-image: url('../assets/images/sky.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: auto 100vh;
  font-family: DINRegular, sans-serif;
}

#game_wrapper { /* stylelint-disable-line */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
}

.stats_wrapper {
  width: 96rem;
  margin: 5rem auto 0;

  & p {
    margin: 0 0 2rem;
    font-size: 1.2rem;
  }

  & h2 {
    font-size: 2rem;
    font-family: BigJohn;
    margin: 0 0 2rem;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #fafafa;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  font-size: 1.4rem;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7e851b;
  color: white;
  font-family: BigJohn, sans-serif;
}

.svg_js,
.svg_php {
  box-sizing: content-box;
  border: 20px solid white;
  border-left-width: 30px;
  border-right-width: 30px;
  margin: 0 0 5rem;
  background-color: white;
}

.hidden {
  display: none;
}
