@import 'reset';

body {
  margin: 0;
  background-color: #222;
  overflow: hidden;
  background-image: url('../assets/sky.png');
  background-repeat: repeat-x;
  background-size: auto 100vh;
}

#game_wrapper { /* stylelint-disable-line */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
}

.zoom_button {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0 1rem 1rem;
  float: left;
  background-image: url('../assets/platform.png');
  background-position: -343px -197px;
  background-size: 512px 459px;
  background-repeat: no-repeat;
  color: white;
  font-size: 3rem;
  text-align: center;
  line-height: 3.5rem;
  font-family: bigjohn;
}
